.App {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
  --theme-color: 0, 255, 255;
  font-size: calc(14px + .3vmin);
}

.App-header {
  background-color: #333;
  display: flex;
  flex-direction: column;
  color: white;
  border-top: 2px solid rgb(var(--theme-color));
  overflow: hidden;
}

.App-body {
  flex: 1;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body .container {
  background-color: white;
  color: black;
  padding: 2vh;
}

.App-footer{
  background-color: #eee;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}
