.App {
  background-color: #f7f7f7;
  --theme-color: 0, 255, 255;
}

.App-header {
  background-color: #333;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: white;
  border-top: 2px solid rgb(var(--theme-color));
  overflow: hidden;
}

.App-body {
  padding: 2vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  color: black;
}
